<!DOCTYPE html>
<html lang="en" ng-app='store'>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="js/angular.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body class='container'>
  <div class="row">
    <div ng-controller='StoreController as store'>
      <div ng-repeat="product in store.products">
        <div class='col-xs-6' ng-controller='PanelController as panel'>
          <h1>{{product.shirtName}}</h1>
          <ul class="nav nav-pills">
            <li ng-click='panel.setTab(1)' ng-class='{active:panel.isCurrentTab(1)}'><a href>Details</a></li>
            <li ng-click='panel.setTab(2)' ng-class='{active: panel.isCurrentTab(2)}'><a href>Price</a></li>
            <li ng-click='panel.setTab(3)' ng-class='{active: panel.isCurrentTab(3)}'><a href>Ratings</a></li>
          </ul>
          <div ng-show='panel.isCurrentTab(1)'>
            <div>Color: {{product.color}}</div>
            <div>Size: {{product.size}}</div>
          </div>
          <div ng-show='panel.isCurrentTab(2)'>
            <div>Price: {{product.price | currency }}</div>
          </div>
          <div ng-show='panel.isCurrentTab(3)'>
            <div ng-controller="ReviewController as reviewCtrl">
              <form name="reviewForm" ng-submit='reviewForm.$valid && reviewCtrl.addReview(product)' novalidate>
                <div ng-repeat="existingReview in product.reviews" >
                  <b>{{existingReview.rating}} Stars</b> {{existingReview.body}}
                  <div>
                    -- {{existingReview.author}}
                  </div>
                </div>
                <div class="preview">
                  <h1>Preview</h1>
                  <b>{{reviewCtrl.review.rating}} Stars</b> {{reviewCtrl.review.body}}
                  <div>
                    -- {{reviewCtrl.review.author}}
                  </div>
                </div>
                <div>
                  <select ng-model="reviewCtrl.review.rating" required>
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                  </select>
                </div>
                  <textarea ng-model="reviewCtrl.review.body" rows="8" cols="40" placeholder="Enter your great review" required> </textarea>
                <div>
                  <input type="email" placeholder="bob@example.com" ng-model="reviewCtrl.review.author" required>
                </div>
                <div>
                  <input type="submit" value="Add Review">
                </div>
                The current status of reviewForm is {{reviewForm.$valid}}
              </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
